.box1 {
    background-color: #4D4D4D;
    padding-bottom: 4em;
}

.box {
    height: 100vh;
    background-color: #4a4844;
    background-size: cover;
  }
  

h1 {
    color: #fff;
    font-size: 1em;
}


ul.list-inline a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
}

ul.list-inline a:hover {
    color: #B46060;
}

h2 {
    color: #fff;
    font-size: 1em;
}

div>h2 {
    color: #fff;
    font-size: 1em;
}

.extra-large-text {
    font-size: 5.5vw;

}

.small-text {
    font-size: 1em;
}

::selection {
    background: #966060;
}

ul.list-inline Link {
    padding: 0 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}



.box2 {
    background-color: #FFBF9B;
    padding-bottom: 2em;
}

.box2 * {
    color: #2c2927;
}
.box2 h2 {
    font-size: 24px; 
  }


.box3 {
    background-color: #FFBF9B;
    padding-bottom: 2em;
}

.box3 * {
    color: #2c2927;
}

.box3-img {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, #FFBF9B, #2c2927 95%) 2 5;
    border-radius: 10px;
    clip-path: inset(0 round 10px);

  }

.box4 {
    padding-bottom: 2em;
}

.box4 * {
    color: #2c2927;
}

.box5 {
    background-color: #4a4844;
    padding-bottom: .1em;
}

.box5 * {
    color: #fff;
}

.box5 p {
    font-size: small;
}

ul.list-inline-bottom a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
}

ul.list-inline-bottom a:hover {
    color: #B46060;
}


.client-box {
    background-color: #FFBF9B;
}

.text-shrink {
    font-size: 16px;
    line-height: 1.2;
    transition: font-size 0.3s;
  }

  @media (min-width: 1080px) {
    .text-shrink {
      font-size: 24px;
    }

  }

  .indented-first-line {
    text-indent: 20px;
  }